services:
  db:
    image: postgres:12.0
    container_name: postgres
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: govind
      POSTGRES_PASSWORD: govind123
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U govind -d demo"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web:
    build: .
    container_name: flask
    env_file:
      - .env
    volumes:
      - media:/app/media
    networks:
      - app-network
    expose:
      - "8000"
    depends_on:
      db:
        condition: service_healthy
  nginx:
    image: nginx:1.25
    ports:
      - "80:80"
    volumes:
      - media:/app/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    networks:
      - app-network
volumes:
  postgres_data:
  media:
networks:
  app-network:
